<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/commom.css"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript">
			(function ($){
				$.init();
				$.plusReady(function (){
					var device = plus.device;
					var screen = plus.screen;
					var display = plus.display;
					var network_info = plus.networkinfo;
					var os = plus.os;
					function init(){
						console.log(network_info.getCurrentType())
						device.setWakelock(document.getElementById("set-wakelock").children[0].checked);
					}init();
					document.getElementById("get-device-info").addEventListener('tap',function (e){
						$.alert("imei: "+device.imei+"\nimsi: "+device.imsi+"\nmodel: "+device.model+"\nverdor: "+device.vendor+"\nuuid: "+device.uuid,'设备信息');
					})
					document.getElementById("screen-info").addEventListener('tap',function (e){
						$.alert("height: "+screen.resolutionHeight+"\nwidth: "+screen.resolutionWidth+"\nscale: "+screen.scale+"\ndpiX: "+screen.dpiX+"\ndipY: "+screen.dpiY,"屏幕信息");
					})
					document.getElementById("display-info").addEventListener('tap',function (e){
						$.alert('resolutionHeight: '+display.resolutionHeight+"\nresolutionWidth: "+display.resolutionWidth,'显示区域信息');
					})
					document.getElementById("os-info").addEventListener('tap',function (e){
						$.alert("language: "+os.language+"\nversion: "+os.version+"\nname: "+os.name+"\nvendor: "+os.vendor,"系统信息");
					})
					document.getElementById("call").addEventListener('tap',function (e){
						device.dial("10086");
					})
					document.getElementById("start-beep").addEventListener('tap',function (e){
						device.beep();
					})
					document.getElementById("start-vibrate").addEventListener('tap',function (e){
						device.vibrate();
					})
					document.getElementById("set-wakelock").addEventListener('tap',function (e){
						device.setWakelock(!this.children[0].checked);
					})
				})
			})(mui)
		</script>
		<style type="text/css">
			.btn-group {
				margin: 10px auto;
				padding: 8px 10px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">设备信息</h1>
		</header>
		<div class="mui-content">
		    <div class="btn-group">
				<button id="get-device-info" type="button" class="mui-btn mui-btn-yellow mui-btn-block">设备信息</button>
				<button id="screen-info" type="button" class="mui-btn mui-btn-yellow mui-btn-block">设备屏幕信息</button>
				<button id="display-info" type="button" class="mui-btn mui-btn-yellow mui-btn-block">显示区域信息</button>
				<button id="os-info" type="button" class="mui-btn mui-btn-yellow mui-btn-block">操作系统信息</button>
				<button id="call" type="button" class="mui-btn mui-btn-yellow mui-btn-block">拨打10086</button>
				<button id="start-beep" type="button" class="mui-btn mui-btn-yellow mui-btn-block">发出蜂鸣声</button>
				<button id="start-vibrate" type="button" class="mui-btn mui-btn-yellow mui-btn-block">设备振动</button>
			</div>
			<ul class="mui-table-view">
			        <li id="set-wakelock" class="mui-table-view-cell mui-checkbox mui-right">
			        	<input type="checkbox" checked/>是否保持唤醒（屏幕常亮）
			        </li>
			    </ul>
		</div>
	</body>
</html>
